
:root {
    --page-bg: light-dark(#fff, hsl(0deg 0% 7%));
    --grey-bg: light-dark(hsl(240deg 15% 94%), hsl(240deg 8% 18%));
    --black-bg: hsl(0deg 0% 14%);
    --button-bg: hsla(240, 13%, 60%, 0.3);
    --button_appearance_dark-bg: hsla(0, 0%, 0%, 0.75);
    --input-bg: hsl(240deg 13% 100% / 0.25);
    /* --button-label-color: light-dark(#000, #fff); */
    --light-text-color: hsl(240deg 5% 40% / 80%);
    --border-color: hsl(240deg 5% 50% / 70%);

    --grey-text: hsl(0deg 0% 52% / 90%);
    --grey-border: rgba(139, 139, 153, .7);

    --backdrop: #0009;

    --color-link: light-dark(hsl(220deg 100% 50%), hsl(220deg 100% 75%));
    --color-link-visited: light-dark(hsl(270deg 100% 50%), hsl(270deg 100% 75%));

    --code-color: #F60;



    --attractive-bg: linear-gradient(to right top, hsl(140deg 100% 55%) 0%, hsl(180deg 100% 55%) 100%);

    --animation-duration: .5s;
    --animation-duration-m: .5s;
    --animation-duration-s: .3s;

    --animation-timing-function: cubic-bezier(0.090, 0.615, 0.405, 0.980);



    --control-size-XS: 1.75rem;
    --control-size-S: 1.8rem;
    --control-size-M: 2.6rem;
    --control-size-L: 3.4rem;

    --bd-radius-L: 1.2rem;
    --bd-radius-M: .7rem;
    --bd-radius-S: .35rem;
    --shadow: 0 1.5rem 1.5rem -.75rem #0A002688;


    --font-family: -apple-system, system-ui, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    ;
    --font-family-title: -apple-system, system-ui, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    ;

    --font-size-supertitle: 3rem;
    --font-size-title: 2rem;
    --font-size-subtitle: 1.2rem;
    --font-size-text: 1rem;
    --font-size-lead: 1.6rem;
    --font-size-caption: .8rem;
    --font-size-button: .9rem;

    --font-weight-supertitle: 700;
    --font-weight-title: 700;
    --font-weight-subtitle: 700;
    --font-weight-text: 400;
    --font-weight-lead: 400;
    --font-weight-caption: 400;
    --font-weight-button: 500;

    --line-height-supertitle: 3.3rem;
    --line-height-title: 2.4rem;
    --line-height-subtitle: 1.68rem;
    --line-height-text: 1.6rem;
    --line-height-lead: 2.4rem;
    --line-height-text-narrow: 1.4rem;
    --line-height-caption: 1.5rem;

    --content-width-s: 21.25rem;
    --content-width-m: 44rem;
    --content-width-l: 67.5rem;
    --content-width-xl: 92rem;
    --page-width: min(100vw);
    --page-padding-inline: .5rem;

    --margin-inline-text: .5rem;

    --card-width-m: 22rem;
    --card-width-l: 33rem;
    --card-width-xl: 45rem;

    --plan-bg: linear-gradient(to top right, #000, #777);
}
.rounded-s {
    border-radius: var(--bd-radius-S);
}
.rounded-top-s {
    border-top-left-radius: var(--bd-radius-S);
    border-top-right-radius: var(--bd-radius-S);
}
.rounded-right-s {
    border-top-right-radius: var(--bd-radius-S);
    border-bottom-right-radius: var(--bd-radius-S);
}
.rounded-bottom-s {
    border-bottom-left-radius: var(--bd-radius-S);
    border-bottom-right-radius: var(--bd-radius-S);
}
.rounded-left-s {
    border-bottom-left-radius: var(--bd-radius-S);
    border-top-left-radius: var(--bd-radius-S);
}
.rounded-top-left-s {
    border-top-left-radius: var(--bd-radius-S);
}
.rounded-top-right-s {
    border-top-right-radius: var(--bd-radius-S);
}
.rounded-bottom-right-s {
    border-bottom-right-radius: var(--bd-radius-S);
}
.rounded-bottom-left-s {
    border-bottom-left-radius: var(--bd-radius-S);
}

.rounded-m {
    border-radius: var(--bd-radius-M);
}
.rounded-top-m {
    border-top-left-radius: var(--bd-radius-M);
    border-top-right-radius: var(--bd-radius-M);
}
.rounded-right-m {
    border-top-right-radius: var(--bd-radius-M);
    border-bottom-right-radius: var(--bd-radius-M);
}
.rounded-bottom-m {
    border-bottom-left-radius: var(--bd-radius-M);
    border-bottom-right-radius: var(--bd-radius-M);
}
.rounded-left-m {
    border-bottom-left-radius: var(--bd-radius-M);
    border-top-left-radius: var(--bd-radius-M);
}
.rounded-top-left-m {
    border-top-left-radius: var(--bd-radius-M);
}
.rounded-top-right-m {
    border-top-right-radius: var(--bd-radius-M);
}
.rounded-bottom-right-m {
    border-bottom-right-radius: var(--bd-radius-M);
}
.rounded-bottom-left-m {
    border-bottom-left-radius: var(--bd-radius-M);
}

.rounded-l {
    border-radius: var(--bd-radius-L);
}
.rounded-top-l {
    border-top-left-radius: var(--bd-radius-L);
    border-top-right-radius: var(--bd-radius-L);
}
.rounded-right-l {
    border-top-right-radius: var(--bd-radius-L);
    border-bottom-right-radius: var(--bd-radius-L);
}
.rounded-bottom-l {
    border-bottom-left-radius: var(--bd-radius-L);
    border-bottom-right-radius: var(--bd-radius-L);
}
.rounded-left-l {
    border-bottom-left-radius: var(--bd-radius-L);
    border-top-left-radius: var(--bd-radius-L);
}
.rounded-top-left-l {
    border-top-left-radius: var(--bd-radius-L);
}
.rounded-top-right-l {
    border-top-right-radius: var(--bd-radius-L);
}
.rounded-bottom-right-l {
    border-bottom-right-radius: var(--bd-radius-L);
}
.rounded-bottom-left-l {
    border-bottom-left-radius: var(--bd-radius-L);
}

/* [class*="rounded-"] {
    --corner-mask-size: calc(var(--border-radius) * 2);
    mask:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none" xml:space="preserve"> <rect x="0" y="0" width="1" height="1"/></svg>')
        calc(var(--corner-top-left-mask-size) - 1px) top / calc(100% - var(--corner-top-left-mask-size) - var(--corner-top-right-mask-size) + 2px) max(100% - var(--corner-bottom-left-mask-size) + 1px, 100% - var(--corner-bottom-right-mask-size) + 1px) no-repeat,
    
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none" xml:space="preserve"> <rect x="0" y="0" width="1" height="1"/></svg>')
      calc(var(--corner-top-left-mask-size) - 1px) bottom / calc(100% - var(--corner-top-left-mask-size) - var(--corner-top-right-mask-size) + 2px) max(100% - var(--corner-top-left-mask-size) + 1px, 100% - var(--corner-top-left-mask-size) + 1px) no-repeat,

      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none" xml:space="preserve"> <rect x="0" y="0" width="1" height="1"/></svg>')
        left calc(50% - 1px) / 100% calc(100% - var(--corner-mask-size) * 2 + 2px) no-repeat,

      url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"  ><path d="M0 1C0 0.1 0.1 0 1 0V1H0Z"/></svg>')
        top left / var(--corner-top-left-mask-size) var(--corner-top-left-mask-size) no-repeat,
      url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"  ><path d="M1 1C1 0.1 0.9 0 0 0V1H1Z"/></svg>')
        top right / var(--corner-top-right-mask-size) var(--corner-top-right-mask-size) no-repeat,
      url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"  ><path d="M1 0C1 0.9 0.9 1 0 1V0H1Z"/></svg>')
        bottom right /  var(--corner-bottom-right-mask-size) var(--corner-bottom-right-mask-size) no-repeat,
      url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"  ><path d="M0 0C0 0.9 0.1 1 1 1V0H0Z"/></svg>')
        bottom left /  var(--corner-bottom-left-mask-size) var(--corner-bottom-left-mask-size) no-repeat; 
    position: relative;
}

* {
    --corner-top-left-mask-size: 0px;
    --corner-top-right-mask-size: 0px;
    --corner-bottom-right-mask-size: 0px;
    --corner-bottom-left-mask-size: 0px;
}

.rounded-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-right-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-s {
    --border-radius: var(--bd-radius-S);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-left-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-left-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-right-s {
    --border-radius: var(--bd-radius-S);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-right-s {
    --border-radius: var(--bd-radius-S);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-left-s {
    --border-radius: var(--bd-radius-S);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}



.rounded-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-right-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-m {
    --border-radius: var(--bd-radius-M);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-left-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-left-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-right-m {
    --border-radius: var(--bd-radius-M);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-right-m {
    --border-radius: var(--bd-radius-M);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-left-m {
    --border-radius: var(--bd-radius-M);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}




.rounded-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-right-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-l {
    --border-radius: var(--bd-radius-L);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-left-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-left-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-left-mask-size: calc(var(--border-radius) * 2);
}

.rounded-top-right-l {
    --border-radius: var(--bd-radius-L);
    --corner-top-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-right-l {
    --border-radius: var(--bd-radius-L);
    --corner-bottom-right-mask-size: calc(var(--border-radius) * 2);
}

.rounded-bottom-left-l {
    --border-radius: var(--bd-radius-L);
    --corner-bottom-left-mask-size: calc(var(--border-radius) * 2);
} */
.notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.75rem;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.375em;
    max-height: 100vh;
}

.notifications:empty {
    display: none;
}

.notifications__item {
    --__background-color: var(--black-bg);
    --__line-height: 1.35rem;
    --__width: 20rem;
    background: var(--__background-color);
    padding: .75rem;
    color: #fff;
    font-size: 0.9rem;
    width: min(var(--__width), 100vw - 1.5rem);
    line-height: var(--__line-height);
    font-weight: 300;
    position: relative;
    display: flex;
    gap: 0.75rem;
    animation: notifications__item var(--animation-duration-s) var(--animation-timing-function);
}

.notifications__item_hide {
    animation-name: notifications__item_hide;
    animation-fill-mode: both;
}

@keyframes notifications__item {
    0% {
        translate: var(--__width);
        display: flex;
    }

    99% {
        translate: 0;
        display: flex;
    }

    100% {
        display: none;
    }
}

@keyframes notifications__item_hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.notifications__item-close {
    opacity: 0.5;
    margin-left: auto;
}


.notifications__item_success .notifications__item-icon {
    background-image: url(https://synchronizer.github.io/maridiz_prod/icons/notify-success.svg);
}

.notifications__item_attention .notifications__item-icon {
    background-image: url(https://synchronizer.github.io/maridiz_prod/icons/notify-attention.svg);
}

.notifications__item_error .notifications__item-icon {
    background-image: url(https://synchronizer.github.io/maridiz_prod/icons/notify-error.svg);
}

.notifications__item-icon {
    height: var(--control-size-S);
    aspect-ratio: 1;
    border-radius: var(--bd-radius-S);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://synchronizer.github.io/maridiz_prod/icons/notify-message.svg);
}

.notifications__item-text {
    min-height: var(--control-size-S);
    display: flex;
    align-items: center;
}


.notifications__prototype {
    display: none;
}

.banner {
  aspect-ratio: 2/1;
  min-height: 50vh;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner__content {
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner__title {
  font-size: var(--font-size-supertitle);
  font-size: clamp(var(--font-size-title), 3.5vw, var(--font-size-supertitle) * 1.5);
  line-height: .9em;
  font-weight: var(--font-weight-supertitle);
  font-family: var(--font-family-title);
  margin: 0;
  color: #fff;
}

.banner__text {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-text);
  margin: 1em 0 2em;
  color: #fff;
}

.banner__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.banner_content-width_m .banner__content {
  width: min(var(--content-width-m), 100% - 3rem);
}

.banner_content-width_l .banner__content {
  width: min(var(--content-width-l), 100% - 3rem);
}

.banner_content-width_xl .banner__content {
  width: min(var(--content-width-xl), 100% - 3rem);
}

/* .banner_rounded {
  border-radius: var(--bd-radius-M);
  overflow: hidden;
} */
.call-request {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.call-request__title {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
    font-weight: var(--font-weight-subtitle);
}

.call-request__send {
    align-self: start;
}

.card {
  background-color: var(--grey-bg);
  padding-inline: 1rem;
  padding-block: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_center {
  text-align: center;
}

.card_whitetext {
  color: #fff;
}

.card_size_m {
  width: var(--card-width-m);
}

.card_size_l {
  width: var(--card-width-l);
}

.card_size_xl {
  width: var(--card-width-xl);
}

.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  margin-inline: calc((100% - var(--page-width)) / 2);
  padding-inline: calc((var(--page-width) - 100%) / 2);
}


.carousel__content {
  margin-inline: calc((100% - var(--page-width)) / 2);
  padding-inline: calc((var(--page-width) - 100%) / 2);
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
}
.carousel__content > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.carousel__content::-webkit-scrollbar {
  display: none;  /* Safari and Chrome browsers */
}

.carousel__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* mozilla */
}

.carousel__left,
.carousel__right {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.carousel__left {
  left: 1.5rem;
}

.carousel__right {
  right: 1.5rem;
}
  .carousel__left_hide,
  .carousel__right_hide {
    display: none;
    pointer-events: none;
  }

  
  

.clients-map {
    --__search-elements-blur: 1rem;
    --__search-elements-bg: hsl(0 0 100% / .75);
    position: relative;
}


.clients-map_loading .clients-map__search,
.clients-map:not(.clients-map_loading) .clients-map__loader {
    display: none;
}



.clients-map__map {
    aspect-ratio: 2;
    z-index: 0;
    background-color: var(--grey-bg); 
    border-radius: var(--bd-radius-M);
    overflow: hidden;
}

@media (max-aspect-ratio: 1) {
    .clients-map__map {
        aspect-ratio: unset;
        height: 90vh;
    }
}

.clients-map__search {
    --_input-height: var(--control-size-L);
    --_margin: .75rem;
    position: absolute;
    top: var(--_margin);
    left: var(--_margin);
    z-index: 1;
    width: min(30rem, 100% - 1.5rem);
    max-height: calc(100% - 1.5rem);
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.clients-map__search-input {
    width: 100%;
    height: var(--_input-height);
    padding-inline: 0.75rem;
    border-radius: var(--bd-radius-S);
    border: none;
    box-shadow: var(--shadow);
    font-size: var(--font-size-text);
    background: var(--__search-elements-bg);
    backdrop-filter: blur(var(--__search-elements-blur));
    flex-shrink: 0;
}

/* .ymaps3x0--main-engine-container {
    filter: brightness(0.925) saturate(0);
} */




.marker {
    background-color: hsl(240deg 5% 50%);
    border-radius: .5rem;
    box-shadow: 0 4px 8px -2px #0008;
    width: 3rem;
    height: 3rem;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    cursor: pointer;
    transition: scale .25s, translate .25s;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">  <path d="M16.528 2H7.47198C6.26898 2 5.66798 2 5.18398 2.299C4.70098 2.597 4.43198 3.135 3.89398 4.211L2.49098 7.76C2.16598 8.58 1.88298 9.546 2.42898 10.239C2.6863 10.5656 3.03904 10.8039 3.4381 10.9207C3.83717 11.0375 4.26272 11.0271 4.65556 10.8908C5.0484 10.7545 5.38899 10.4991 5.62994 10.1602C5.8709 9.82137 6.00024 9.41581 5.99998 9C5.99998 9.53043 6.21069 10.0391 6.58576 10.4142C6.96083 10.7893 7.46954 11 7.99998 11C8.53041 11 9.03912 10.7893 9.41419 10.4142C9.78926 10.0391 9.99998 9.53043 9.99998 9C9.99998 9.53043 10.2107 10.0391 10.5858 10.4142C10.9608 10.7893 11.4695 11 12 11C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9C14 9.53043 14.2107 10.0391 14.5858 10.4142C14.9608 10.7893 15.4695 11 16 11C16.5304 11 17.0391 10.7893 17.4142 10.4142C17.7893 10.0391 18 9.53043 18 9C17.9999 9.41573 18.1294 9.82114 18.3704 10.1599C18.6115 10.4986 18.9521 10.7538 19.3449 10.8899C19.7377 11.0261 20.1631 11.0365 20.5621 10.9197C20.9611 10.8028 21.3137 10.5646 21.571 10.238C22.117 9.545 21.833 8.579 21.509 7.759L20.105 4.211C19.567 3.135 19.299 2.597 18.815 2.299C18.332 2 17.73 2 16.528 2Z" fill="white" fill-opacity="0.75"/>  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 21.25H22C22.1989 21.25 22.3897 21.3291 22.5303 21.4697C22.671 21.6104 22.75 21.8011 22.75 22C22.75 22.199 22.671 22.3897 22.5303 22.5304C22.3897 22.671 22.1989 22.75 22 22.75H2C1.80109 22.75 1.61032 22.671 1.46967 22.5304C1.32902 22.3897 1.25 22.199 1.25 22C1.25 21.8011 1.32902 21.6104 1.46967 21.4697C1.61032 21.3291 1.80109 21.25 2 21.25H4V12.5C4.744 12.5 5.433 12.268 6 11.873C6.58696 12.2814 7.28494 12.5003 8 12.5C8.744 12.5 9.433 12.268 10 11.873C10.587 12.2814 11.2849 12.5003 12 12.5C12.744 12.5 13.433 12.268 14 11.873C14.587 12.2814 15.2849 12.5003 16 12.5C16.744 12.5 17.433 12.268 18 11.873C18.587 12.2814 19.2849 12.5003 20 12.5V21.25ZM9.5 21.25H14.5V18.5C14.5 17.565 14.5 17.098 14.299 16.75C14.1675 16.5217 13.9781 16.332 13.75 16.2C13.402 16 12.935 16 12 16C11.065 16 10.598 16 10.25 16.2C10.0219 16.332 9.83251 16.5217 9.701 16.75C9.5 17.098 9.5 17.565 9.5 18.5V21.25Z" fill="white" fill-opacity="0.75"/></svg>');
}

.marker:hover {
    scale: 1.5;
    translate: 0 -25%;
}

.clients-map__search-suggest:empty {
    display: none;
}

.clients-map__search-suggest {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100%);
    background: #fff9;
    backdrop-filter: blur(var(--__search-elements-blur));
    /* border-radius: var(--bd-radius-S); */
    position: relative;
    box-shadow: var(--shadow);
}

.clients-map__finded-company {
    display: flex;
    gap: .75rem;
    /* border-radius: var(--bd-radius-S); */
    padding: 0.5rem;
    line-height: 1.3rem;
    cursor: pointer;
    background: var(--__search-elements-bg);
}

.clients-map__finded-company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clients-map__finded-company-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    background-color: #99a;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">  <path d="M16.528 2H7.47198C6.26898 2 5.66798 2 5.18398 2.299C4.70098 2.597 4.43198 3.135 3.89398 4.211L2.49098 7.76C2.16598 8.58 1.88298 9.546 2.42898 10.239C2.6863 10.5656 3.03904 10.8039 3.4381 10.9207C3.83717 11.0375 4.26272 11.0271 4.65556 10.8908C5.0484 10.7545 5.38899 10.4991 5.62994 10.1602C5.8709 9.82137 6.00024 9.41581 5.99998 9C5.99998 9.53043 6.21069 10.0391 6.58576 10.4142C6.96083 10.7893 7.46954 11 7.99998 11C8.53041 11 9.03912 10.7893 9.41419 10.4142C9.78926 10.0391 9.99998 9.53043 9.99998 9C9.99998 9.53043 10.2107 10.0391 10.5858 10.4142C10.9608 10.7893 11.4695 11 12 11C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9C14 9.53043 14.2107 10.0391 14.5858 10.4142C14.9608 10.7893 15.4695 11 16 11C16.5304 11 17.0391 10.7893 17.4142 10.4142C17.7893 10.0391 18 9.53043 18 9C17.9999 9.41573 18.1294 9.82114 18.3704 10.1599C18.6115 10.4986 18.9521 10.7538 19.3449 10.8899C19.7377 11.0261 20.1631 11.0365 20.5621 10.9197C20.9611 10.8028 21.3137 10.5646 21.571 10.238C22.117 9.545 21.833 8.579 21.509 7.759L20.105 4.211C19.567 3.135 19.299 2.597 18.815 2.299C18.332 2 17.73 2 16.528 2Z" fill="white" fill-opacity="0.75"/>  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 21.25H22C22.1989 21.25 22.3897 21.3291 22.5303 21.4697C22.671 21.6104 22.75 21.8011 22.75 22C22.75 22.199 22.671 22.3897 22.5303 22.5304C22.3897 22.671 22.1989 22.75 22 22.75H2C1.80109 22.75 1.61032 22.671 1.46967 22.5304C1.32902 22.3897 1.25 22.199 1.25 22C1.25 21.8011 1.32902 21.6104 1.46967 21.4697C1.61032 21.3291 1.80109 21.25 2 21.25H4V12.5C4.744 12.5 5.433 12.268 6 11.873C6.58696 12.2814 7.28494 12.5003 8 12.5C8.744 12.5 9.433 12.268 10 11.873C10.587 12.2814 11.2849 12.5003 12 12.5C12.744 12.5 13.433 12.268 14 11.873C14.587 12.2814 15.2849 12.5003 16 12.5C16.744 12.5 17.433 12.268 18 11.873C18.587 12.2814 19.2849 12.5003 20 12.5V21.25ZM9.5 21.25H14.5V18.5C14.5 17.565 14.5 17.098 14.299 16.75C14.1675 16.5217 13.9781 16.332 13.75 16.2C13.402 16 12.935 16 12 16C11.065 16 10.598 16 10.25 16.2C10.0219 16.332 9.83251 16.5217 9.701 16.75C9.5 17.098 9.5 17.565 9.5 18.5V21.25Z" fill="white" fill-opacity="0.75"/></svg>');

}

.clients-map__finded-company-address {
    font-size: 0.85rem;
}

.clients-map__search:not(:focus-within) .clients-map__search-suggest {
    display: none;
}
.creeping-line {
    color: #fff;
    background: var(--black-bg);
    font-size: 1rem;
    line-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .creeping-line:hover .creeping-line__text {
    animation-play-state: paused;
  }
  
  .creeping-line__text {
    animation: creeping-line 24s linear infinite;
    display: inline-block;
  }
  
  
  
  @keyframes creeping-line {
    to {
      translate: -100%;
    }
    from {
      translate: var(--page-width);
    }
  }

.example {
    padding: 2em;
    border: 1px dashed var(--grey-border);
    resize: horizontal;
    overflow: auto;
    position: relative;
    border-radius: var(--bd-radius-M);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  
  .example_fullwidth {
    margin: 0;
    padding: 0 2em 2em;
    resize: none;
    overflow: visible;
  }
  
  
  .example__code-src {
    color: var(--code-color);
    font-weight: 400;
    display: block;
  }
  
  .example__copycode {
    position: absolute;
    bottom: .5em;
    right: .5em;
    color: var(--grey-text);
  }
  
  .example:not(:hover) .example__copycode {
    display: none;
  }

.example__html-src {
  line-height: 1.75;
  border: 1px solid currentColor;
  padding: .75rem .75rem 3rem;
  border-radius: var(--bd-radius-S);
  resize: vertical;
  height: 30vh;
  width: 100%;
  font-family: monospace;
  font-size: .9rem;
  background-color: var(--input-bg);
  color: currentColor;
}

.example__html {
  position: relative;
}

.example__html-buttons {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  display: flex;
  gap: .5rem;
}
.footer {
    width: min(var(--content-width-m), 100% - 1.5rem);
    margin-inline: auto;
    margin-top: 6rem;
    border-top: 1px solid var(--border-color);
    padding-bottom: 3rem;
}

.footer>* {
    margin-block: 3rem;
}

.footer,
.footer .button:not(:hover) {
    color: var(--light-text-color);
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__menu-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-screen .footer__menu {
    flex-direction: column;
    gap: 1.5rem;
}

.mobile-screen .footer__menu-group {
    gap: .75rem;
}

@media (max-width: 720px) {
    .footer__menu,
    .footer__menu-group {
        flex-direction: column;
        gap: .75rem;
    }
    
}
.gap {
  height: 1.5rem;
  width: 1.5rem;
}
.header {
    --height: 3.5rem;
    --column-gap: 2.5rem;
    --bg: var(--grey-bg);
    height: var(--height);
    padding-inline: 1rem;
    background-color: var(--bg);
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--column-gap);
}

.header__mobile-menu-button {
    display: none;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--column-gap);
    background-color: var(--bg);

}


.header__logo-img {
    height: 2.5rem;
    display: block;
    position: relative;
}


.header__menu {
    display: flex;
}

.header__menu-item {
    position: relative;
}

.header__submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    display: none;
    background: var(--bg);
    padding: 1rem;
    margin-top: .75rem;
}

.header__submenu-holder {
    position: absolute;
    inset: -1rem;
}

.header__menu-item:hover>.header__submenu {
    display: flex;
}


.header__contacts {
    display: flex;
    gap: .75rem;
}

.header__social-img {
    height: var(--control-size-S);
    display: block;
}

.header__mobile-menu-item-expand {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--control-size-M);
    height: var(--control-size-M);
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

.header__mobile-menu-item-expand:after {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12.37 15.835l6.43-6.63C19.201 8.79 18.958 8 18.43 8H5.57c-.528 0-.771.79-.37 1.205l6.43 6.63c.213.22.527.22.74 0'/%3E%3C/svg%3E");
}

.header__mobile-menu-item-expand:checked:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12.37 8.165l6.43 6.63c.401.414.158 1.205-.37 1.205H5.57c-.528 0-.771-.79-.37-1.205l6.43-6.63a.5.5 0 0 1 .74 0'/%3E%3C/svg%3E");
}

@media (max-width: 1215px) {
    .header {
        justify-content: space-between;
    }

    .header__mobile-menu-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-appearance: none;
        width: var(--height);
        height: var(--height);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__mobile-menu-button:after {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5' d='M20 7H4m16 5H4m16 5H4'/%3E%3C/svg%3E");


    }

    .header__mobile-menu-button:checked:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Cpath d='M2 12c0-4.714 0-7.071 1.464-8.536C4.93 2 7.286 2 12 2s7.071 0 8.535 1.464C22 4.93 22 7.286 22 12s0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12Z'/%3E%3Cpath stroke-linecap='round' d='m14.5 9.5l-5 5m0-5l5 5'/%3E%3C/g%3E%3C/svg%3E");
    }

    .header__mobile-menu-button:checked {
        position: fixed;
        animation: translate-menu-button var(--animation-duration) both;
        z-index: 2;
    }

    .header__content {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: min(100vw, 430px);
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem .5rem 1.5rem 1.5rem;
        gap: 1.5rem;
        justify-content: start;
        overflow-y: scroll;
        translate: 100%;
        transition: translate var(--animation-duration), box-shadow var(--animation-duration);
        box-shadow: 0 0 0 100vmax #0000;
        align-items: stretch;

    }

    .header__mobile-menu-button:checked+.header__content {
        translate: 0;
        box-shadow: 0 0 0 100vmax var(--backdrop);
    }

    body:has(.header__mobile-menu-button:checked) .main {
        pointer-events: none;
    }

    html:has(.header__mobile-menu-button:checked) {
        overflow: hidden;
    }


    .header__menu {
        flex-direction: column;
        align-items: stretch;
    }
    .header__submenu {
        position: relative;
        gap: .75rem;
        margin-top: 0;
    }

    .header__mobile-menu-item-expand {
        display: flex;
    }

    .header__mobile-menu-item-expand:checked + .header__submenu {
        display: flex;
    }

    .header__mobile-menu-item-expand:not(:checked) + .header__submenu {
        display: none;
    }

    .header__contacts {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

@keyframes translate-menu-button {

    0% {

        translate: 100vw;
    }

    100% {
        translate: 0;
    }
}
.image-slider {
    position: relative;
    overflow: hidden;
}

.image-slider__content {
    height: 100%;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.image-slider__content::-webkit-scrollbar {
    display: none;
  }
  

.image-slider__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.image-slider__left,
.image-slider__right {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.image-slider__left {
  left: 1.5rem;
}

.image-slider__right {
  right: 1.5rem;
}
  .image-slider__left_hide,
  .image-slider__right_hide {
    display: none;
    pointer-events: none;
  }

.image__img {
  display: block;
  object-fit: cover;
}


.image__img:not([width]) {
  max-width: 100%;
}

.image__caption {
  margin-top: 0em;
  /* color: var(--grey-S); */
  font-size: var(--font-size-caption);
}

.image__preview {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
.image_rounded .image__img{
  border-radius: var(--bd-radius-M);
} */
.inset {
    position: relative;
    background-color: var(--grey-bg);
    padding: 1.5rem;
    /* border-radius: var(--bd-radius-M); */
  }

.link {
    color: var(--color-link);
    cursor: pointer;
  }
  
  .link:visited {
    color: var(--color-link-visited);
  }
  
  .link:not(:hover) {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
    text-underline-offset: .4em;
    text-decoration-thickness: 1px;
  }
  
  .link_outer::after,
  .link[target="_blank"]::after,
  .link[download]::after,
  .link_overlay::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--color-link);
    margin-bottom: -.12em;
    margin-left: .16em;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
  }
  
  .link_outer:visited::after,
  .link[target="_blank"]:visited::after,
  .link[download]:visited::after,
  .link_overlay:visited::after {
    background-color: var(--color-link-visited);
  }
  
  .link_outer::after,
  .link[target="_blank"]::after {
    -webkit-mask-image: url('https://evev.tupo.best/wp-content/uploads/2023/09/tabler_external-link.svg');
  }
  
  .link_overlay::after {
    -webkit-mask-image: url('https://evev.tupo.best/wp-content/uploads/2023/09/mingcute_document-line.svg');
  }
  
  .link[download]::after {
    -webkit-mask-image: url('https://evev.tupo.best/wp-content/uploads/2023/09/ic_round-download.svg');
  }
  
.loader {
    display: flex;
    gap: .5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .loader__circle {
    width: .75rem;
    height: .75rem;
    border-radius: 100%;
    background-color: var(--button-bg);
    animation: loader 2s infinite;
  }
  
  .loader__circle:nth-child(2) {
    animation-delay: .2s;
  }
  
  .loader__circle:nth-child(3) {
    animation-delay: .4s;
  }
  
  @keyframes loader {
    0% {
      scale: 1;
    }
    25% {
      scale: 1.3;
    }
    50% {
      scale: 1;
    }
  }
.main {
  width: min(
    var(--content-width-m),
    calc(100% - (var(--page-padding-inline) * 2))
  );
  margin-inline: auto;
}
.modal {
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.modal__scroller {
    overflow-y: auto;
    position: fixed;
    inset: 0;
    padding-top: calc(var(--control-size-S) + 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__content-wrapper {
    max-height: 100%;
    width: min(100% - var(--page-padding-inline) * 2, var(--content-width-m));
}

.modal__content-wrapper::after {
    content: '';
    display: block;
    height: calc(var(--control-size-S) + 1.5rem);
  }

.modal__content {
    padding: 1.5rem;
    background: light-dark(var(--page-bg), var(--black-bg));
    cursor: auto;
}

.body:has(.modal[open]) {
    overflow: hidden;
}

.modal::backdrop {
    background-color: var(--backdrop);
}

.modal__close {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
    color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--page-bg);
}

.body {
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-text);
  width: var(--page-width);
  margin-inline: auto;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}


:root {
  font-size: clamp(16px, 1.2vw, 20px);
}

.plan {
    --_width: 20rem;
    background: var(--_background), var(--plan-bg);
    background-size: cover;
    width: min(var(--_width), 100vw - 3rem);
    min-height: calc(var(--_width) * 1);
    padding: 1.5rem;
    padding-top: 3rem;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    color: var(--_text-color);
    font-size: .9rem;
    display: flex;
    flex-direction: column;
  }


  /* .plan:after {
    content: '';
    position: absolute;
    inset: -4rem;
    filter: blur(2rem);
    background-image: var(--_background);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  } */

  .plan__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    line-height: 1.25;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
  }



  .plan__name {
    font-weight: 700;
  }



  .plan__time {
    display: flex;
    gap: .5em;
    align-items: center;
    flex-shrink: 0;
  }

  .plan__time::before {
    content: var(--_time-icon);
    width: 1.25em;
    aspect-ratio: 1;
    position: relative;
    top: 0.15em;
  }

  .plan__price {
    margin-top: 4rem;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 600;
  }

  .plan__list {
    display: flex;
    flex-direction: column;
    line-height: 1.25rem;
    gap: 1.25rem;
    margin: 1.5rem 0 4rem;
    padding: 0;
    list-style-type: none;
    /* font-weight: 300; */
  }

  .plan__controls {
    margin-top: auto;
    display: flex;

  }
  .plan__controls > * {
    flex-grow: 1;
  }


  .plan_color-scheme_light {
    --_text-color: #000;
    --_button-bg-color: #0002;
  }

  .plan_color-scheme_dark {
    --_text-color: #fff;
    --_button-bg-color: #fff4;
  }



  .plan_color-scheme_light .plan__time::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 22 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 1.5C8.79675 1.5 6.44397 2.47455 4.70926 4.20926C2.97455 5.94397 2 8.29675 2 10.75C2 13.2033 2.97455 15.556 4.70926 17.2907C6.44397 19.0254 8.79675 20 11.25 20C13.7033 20 16.056 19.0254 17.7907 17.2907C19.5254 15.556 20.5 13.2033 20.5 10.75C20.5 8.29675 19.5254 5.94397 17.7907 4.20926C16.056 2.47455 13.7033 1.5 11.25 1.5ZM0.5 10.75C0.5 4.813 5.313 0 11.25 0C17.187 0 22 4.813 22 10.75C22 16.687 17.187 21.5 11.25 21.5C5.313 21.5 0.5 16.687 0.5 10.75ZM11.25 6C11.4489 6 11.6397 6.07902 11.7803 6.21967C11.921 6.36032 12 6.55109 12 6.75V10.44L14.28 12.72C14.3537 12.7887 14.4128 12.8715 14.4538 12.9635C14.4948 13.0555 14.5168 13.1548 14.5186 13.2555C14.5204 13.3562 14.5018 13.4562 14.4641 13.5496C14.4264 13.643 14.3703 13.7278 14.299 13.799C14.2278 13.8703 14.143 13.9264 14.0496 13.9641C13.9562 14.0018 13.8562 14.0204 13.7555 14.0186C13.6548 14.0168 13.5555 13.9948 13.4635 13.9538C13.3715 13.9128 13.2887 13.8537 13.22 13.78L10.72 11.28C10.5793 11.1395 10.5002 10.9488 10.5 10.75V6.75C10.5 6.55109 10.579 6.36032 10.7197 6.21967C10.8603 6.07902 11.0511 6 11.25 6Z" fill="black"/></svg>');
  }

  .plan_color-scheme_dark .plan__time::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100$" viewBox="0 0 22 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 1.5C8.79675 1.5 6.44397 2.47455 4.70926 4.20926C2.97455 5.94397 2 8.29675 2 10.75C2 13.2033 2.97455 15.556 4.70926 17.2907C6.44397 19.0254 8.79675 20 11.25 20C13.7033 20 16.056 19.0254 17.7907 17.2907C19.5254 15.556 20.5 13.2033 20.5 10.75C20.5 8.29675 19.5254 5.94397 17.7907 4.20926C16.056 2.47455 13.7033 1.5 11.25 1.5ZM0.5 10.75C0.5 4.813 5.313 0 11.25 0C17.187 0 22 4.813 22 10.75C22 16.687 17.187 21.5 11.25 21.5C5.313 21.5 0.5 16.687 0.5 10.75ZM11.25 6C11.4489 6 11.6397 6.07902 11.7803 6.21967C11.921 6.36032 12 6.55109 12 6.75V10.44L14.28 12.72C14.3537 12.7887 14.4128 12.8715 14.4538 12.9635C14.4948 13.0555 14.5168 13.1548 14.5186 13.2555C14.5204 13.3562 14.5018 13.4562 14.4641 13.5496C14.4264 13.643 14.3703 13.7278 14.299 13.799C14.2278 13.8703 14.143 13.9264 14.0496 13.9641C13.9562 14.0018 13.8562 14.0204 13.7555 14.0186C13.6548 14.0168 13.5555 13.9948 13.4635 13.9538C13.3715 13.9128 13.2887 13.8537 13.22 13.78L10.72 11.28C10.5793 11.1395 10.5002 10.9488 10.5 10.75V6.75C10.5 6.55109 10.579 6.36032 10.7197 6.21967C10.8603 6.07902 11.0511 6 11.25 6Z" fill="white"/></svg>');
  }
.qa {
    background: var(--grey-bg);
    cursor: pointer;
    padding: 1.5rem;
}

.qa__question::-webkit-details-marker,
.qa__question::marker {
 display: none; 
 content: "";
}

.qa__question {
    position: relative;
    margin: -1.5rem;
    padding: 1.5rem;
    
}
.qa[open] .qa__question {
    margin-bottom: 0;
}
.qa__question::before {
    content: '▾';
    position: absolute;
    right: 1.5rem;
}
.qa[open] .qa__question::before {
    rotate: 180deg;
}

.qa + .qa {
    margin-top: 0.75rem;
}
.row {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.row>* {
    flex: 1 0 1rem;
}
/* @media (max-width: 1050px) {
    .row {
        flex-direction: column;
    }
} */
.section {
    margin-inline: calc((100% - var(--page-width)) / 2);
    padding-inline: calc((var(--page-width) - 100%) / 2);
    padding-block: 4.5rem;
    margin-block: 3rem;
    background: var(--grey-bg);
}

.section + .section {
    margin-top: 0;
}




.service {
  width: 100%;
  aspect-ratio: 16/9;

  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem 1.5rem 3rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .service__content {
    z-index: 1;
    display: flex;
        flex-direction: column;    
        align-items: center;
    } */
.service__title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: 1.1em;
  font-weight: var(--font-weight-title);
  text-align: center;
  margin: 0;
  z-index: 1;
  color: #fff;
}

.service__text {
  text-align: center;
  line-height: 1.4;
  margin: 1.5em 0 2em;
  z-index: 1;
  color: #fff;
}

.service__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}


.slider__content>*:not(.slider__item_active) {
  display: none;
  top: 0;
}

.slider__teaser-list {
  display: flex;
  margin-top: -4em;
  min-height: 4rem;
  justify-content: center;
  position: relative;
  max-width: 92%;
  margin-inline: auto;
}

.slider__teaser {
  padding: 1.2rem;
  flex: 0 1 18rem;
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-text);
}

.slider__teaser:not(:first-child):not(.slider__teaser_active) {
  box-shadow: calc(-1rem - 1px) 0 0 -1rem var(--grey-border);
}

.slider__teaser:not(.slider__teaser_active):hover {
  filter: brightness(1.06) saturate(0.88);
}

.slider__teaser_active {
  position: relative;
  z-index: 1;
}

.slider__teaser-bg {
  position: absolute;
  inset: 0;
  background: var(--grey-bg);
  overflow: hidden;
}

.slider__teaser_active .slider__teaser-bg {
  transform: scale(1.05);
  /* border-radius: var(--bd-radius-S); */
  background: var(--body-bg);
  box-shadow: var(--shadow);
}

/* .slider__teaser:first-child .slider__teaser-bg {
  border-top-left-radius: var(--bd-radius-S);
  border-bottom-left-radius: var(--bd-radius-S);
}

.slider__teaser:last-child .slider__teaser-bg {
  border-top-right-radius: var(--bd-radius-S);
  border-bottom-right-radius: var(--bd-radius-S);
} */

.slider__teaser-title {
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-text-narrow);
  position: relative;
}

.slider__teaser-text {
  line-height: var(--line-height-text-narrow);
  font-size: .9em;
  position: relative;
}

.slider__teaser-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .5rem;
  background: var(--attractive-bg);
  /* 	bottom: 0; */
  /*   background: linear-gradient(90deg,#afa,var(--green-M)); */
  /* 	opacity: .5; */
  animation: 1ms teaserbar linear;
  transform-origin: left;
}

.slider__teaser:not(.slider__teaser_active) .slider__teaser-bar,
.slider_pause .slider__teaser-bar {
  visibility: hidden;
  animation: none;
}


  .mobile-screen .slider__teaser>* {
    display: none;
  }

  .mobile-screen .slider__teaser-list {
    gap: .75rem;
    padding-bottom: 2em;
    margin-top: -2em;
  }

  .mobile-screen .slider__teaser {
    flex: 0 0 auto;
    padding: 0;
    width: .75em;
    height: .75em;
    background-color: #fff5;
    border-radius: 100%;
  }

  .mobile-screen .slider__teaser_active {
    background-color: #fff;
  }

  @media (max-width: 1215px) {
    .slider__teaser-list {
      display: none;
    }
  }


@keyframes teaserbar {
  from {
    transform: scaleX(0%);
  }

  to {
    transform: scaleX(100%);
  }
}
.stages {
    row-gap: 3rem;
    column-gap: .75rem;
    counter-reset: item;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    isolation: isolate;
}

.stages__item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 3;
}

.stages__item-img {
    width: 35%;
    aspect-ratio: 16/10;
    object-fit: cover;
}

.stages__item::before {
    counter-increment: item;
    content: counter(item);
    font-size: 9rem;
    color: var(--grey-bg);
    font-weight: 900;
    line-height: .7;
    text-align: center;
    z-index: -1;
    text-shadow: .75rem .25rem 0 var(--button-bg);
}

@media (max-width: 720px) {
    .stages__item::before {
        position: absolute;
    }
}


.wide {
    margin-inline: max(
        (100% - var(--content-width-l)) / 2,
        (100% - var(--page-width)) / 2 + .5rem
    );
  }
  
.caption {
  text-wrap: pretty;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-caption);
  margin-block: var(--line-height-caption);
  margin-inline: var(--margin-inline-text);
}

.caption:first-child {
  margin-top: 0;
}

.caption:last-child {
  margin-bottom: 0;
}
.code {
    font-family: monospace;
    color: rgb(255, 123, 0);
  }
.list {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-text);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em;
}

ul.list {
  list-style-type: "—";
}

ul.list_no-marker,
ol.list_no-marker {
  list-style-type: none;
  padding-left: 0;
}

.list_no-marker .list__item {
  padding-left: 0;
}

.list__item {
  margin-top: 0.8em;
  padding-left: .5em;
}

.list__item::marker {
  font-weight: 600;
}

.list:first-child {
  margin-top: 0;
}

.list:last-child {
  margin-bottom: 0;
}

.subtitle {
    margin-top: calc(var(--line-height-text) * 1.5);
    margin-bottom: calc(var(--line-height-text) * .5);
    font-family: var(--font-family-title);
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
    font-weight: var(--font-weight-subtitle);
    text-wrap: balance;
    /* display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem; */
    margin-inline: var(--margin-inline-text);
}

.subtitle:first-child {
    margin-top: 0;
}

.subtitle:last-child {
    margin-bottom: 0;
}

.subtitle_center {
    text-align: center;
}


.supertitle {
    margin-top: 1.6em;
    margin-bottom: var(--line-height-text);
    font-family: var(--font-family-title);
    font-size: var(--font-size-supertitle);
    line-height: var(--line-height-supertitle);
    font-weight: var(--font-weight-supertitle);
    text-wrap: balance;

    /* display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem; */
    margin-inline: var(--margin-inline-text);
}

.supertitle:first-child {
    margin-top: 0;
}

.supertitle:last-child {
    margin-bottom: 0;
}

.supertitle_center {
    text-align: center;
}
.text {
    text-wrap: pretty;
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
    font-weight: var(--font-weight-text);
    margin-block: calc(var(--line-height-text) * 1);
    margin-inline: var(--margin-inline-text);
}

.subtitle + .text {
    margin-block: calc(var(--line-height-text) * .5);
}

.text:first-child {
    margin-top: 0;
}

.text:last-child {
    margin-bottom: 0;
}


.title {
    margin-top: 2em;
    margin-bottom: var(--line-height-text);
    text-wrap: balance;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-title);

    /* display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem; */

    margin-inline: var(--margin-inline-text);
}

.title:first-child {
    margin-top: 0;
}

.title:last-child {
    margin-bottom: 0;
}

.title_center {
    text-align: center;
}

.button,
.button:any-link,
a.button {
  text-decoration: none;
  appearance: none;
  border: none;
  color: currentColor;
}

.button_whitelabel {
  color: #fff;
}

.button {
  --_button-size: var(--control-size-M);
  --_icon-size: 1.5rem;
  --_padding-inline: .75rem;
  height: var(--_button-size);
  min-width: var(--_button-size);
  padding-inline: var(--_padding-inline);
  gap: calc(var(--_button-size) / 2 - var(--_icon-size) / 2);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  background-color: var(--button-bg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button[data-counter]:not(.button[data-counter="0"]) {
  position: relative;
}

.button[data-counter]:not(.button[data-counter="0"])::after {
  --__size: 1.25rem;
  font-size: .8rem;
  content: attr(data-counter);
  position: absolute;
  width: var(--__size);
  height: var(--__size);
  padding-top: .1rem;
  right: -0rem;
  bottom: -0rem;
  border-radius: var(--__size);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f02;
  font-weight: 600;
  box-sizing: border-box;
  font-family: monospace;
}

.button_appearance_dark {
  background: var(--button_appearance_dark-bg);
  color: #fff;
}

.button_appearance_dark:hover {
  filter: brightness(1.5);
}


.button_size_m {
  --_button-size: var(--control-size-M);
  --_icon-size: 1.5rem;
  --_padding-inline: .75rem;
}

.button_size_l {
  --_button-size: var(--control-size-L);
  --_icon-size: 1.5rem;
  --_padding-inline: .75rem;
}

.button_small,
.button_size_s {
  --_button-size: var(--control-size-S);
  --_icon-size: 1.25rem;
  --_padding-inline: .5rem;

}

.button_extrasmall {
  --_button-size: var(--control-size-XS);
  font-size: var(--font-size-caption);
}

.button_fullwidth {
  display: flex;
  width: 100%;
}

.button:hover:not(.button_ghost):not(.button_action),
.button:hover:not(.button_ghost):not(.button_appearance_action) {
  filter: brightness(1.12) saturate(0.88);
}

.button_action:hover,
.button_appearance_action:hover {
  filter: brightness(.9) saturate(1.2);
}

.button:active,
.button_pressed {
  transform: scale(.97);
}

.button_ghost:not(:hover):not(:focus-visible),
.button_ghost[disabled] {
  background-color: transparent;
  box-shadow: none;
}

.button_with-icon::before {
  content: '';
  display: block;
  width: var(--_icon-size);
  height: var(--_icon-size);
  background-color: currentColor;
  mask-image: var(--icon);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  margin-inline: calc(var(--_button-size) / 2 - var(--_icon-size) / 2 - var(--_padding-inline));
}

/* .button__icon {
  width: var(--_icon-size);
  height: var(--_icon-size);
  background-color: currentColor;
  mask-image: var(--icon);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  margin-inline: calc(var(--_button-size) / 2 - var(--_icon-size) / 2 - var(--_padding-inline));
} */

.button[disabled] {
  opacity: .5;
  pointer-events: none;
}

.button_action,
.button_appearance_action {
  background: var(--attractive-bg);
  color: #000;
}

.button_black {
  background: #000;
  color: #fff;
  font-weight: 500;
}

.button_load {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8' fill='none'><path d='M0 0H4L0 4V0Z' fill='black' fill-opacity='0.15'/><path d='M0 8L8 0V4L4 8H0Z' fill='black' fill-opacity='0.15'/></svg>");
  animation: linear .5s infinite buttonLoad;
  pointer-events: none;
}

.button_abstract {
  padding: 0;
  height: max-content;
  background: none;

}

@keyframes buttonLoad {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1rem 0;
  }
}
.check-button {
    position: relative;
    isolation: isolate;
}

.check-button__check {
    --__inset: .15rem;
    position: absolute;
    inset: var(--__inset);
    background: var(--button-bg);
    pointer-events: none;
    border-radius: calc(var(--bd-radius-S) - var(--__inset));
}

.check-button:not(.check-button_checked) .check-button__check {
    display: none;
}




.input {
  position: relative;
}

.input__input {
  height: var(--control-size-L);
  border: 1px solid var(--grey-border);
  box-sizing: border-box;
  padding: 1em calc(var(--control-size-L) * .2) 0;
  font: var(--font-text);
  font-weight: 400;
  width: 100%;
  background-color: var(--input-bg);
}

.input__label {
  position: absolute;
  left: calc(var(--control-size-L) * .2);
  top: .1em;
  font-size: .8rem;
  /* opacity: 0.5; */
}

.input__clear {
  position: absolute;
  right: .25em;
  top: .25em;
}

.input__input:placeholder-shown~.input__clear,
.input:has(.input__input[disabled]) .input__clear {
  display: none;
}

.input:has(.input__input[disabled]) {
  opacity: .5;
}

.select {
    position: relative;
    display: inline-block;
  }
  
  .select__label {
    position: absolute;
    left: 1em;
    top: -1.5em;
    font: var(--font-caption);
    color: var(--grey-text);
  }
  
  .select__select {
    width: 100%;
    padding-right: var(--control-size-M);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7.41 8.58008L12 13.1701L16.59 8.58008L18 10.0001L12 16.0001L6 10.0001L7.41 8.58008Z' fill='black'/></svg>");
    background-repeat: no-repeat;
    background-position: right .75rem top .75rem;
    text-align: left;
  }

  .select:has(.select__select[disabled]) {
    opacity: 0.5;
  }
  
  @media (max-width: 720px) {
    .select {
      width: 100%;
    }
  }
.textarea {
  position: relative;
}

.textarea__textarea {
  min-height: var(--control-size-L);
  border: 1px solid var(--grey-border);
  box-sizing: border-box;
  padding: 1.5em calc(var(--control-size-L) * .2) 0;
  font: var(--font-text);
  font-weight: 400;
  width: 100%;
  resize: vertical;
  background-color: var(--input-bg);
}



.textarea__label {
  position: absolute;
  left: calc(var(--control-size-L) * .2);
  top: .1em;
  font-size: .8rem;
}

.textarea__label_hidden {
  opacity: 0;
}

.textarea__clear {
  position: absolute;
  right: .25em;
  top: .25em;
}

.textarea__textarea:placeholder-shown~.textarea__clear,
.textarea:has(.textarea__textarea[disabled]) .textarea__clear {
  display: none;
}

.textarea:has(.textarea__textarea[disabled]) {
  opacity: .5;
}